<button class="btn btn-danger" href="/logout" onClick='document.location.href="/logout"'>
    Logout
  </button>

  <button class="btn btn-danger" href="/metrics" onClick='document.location.href="/metrics"'>
    My Metrics
  </button>